.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(95, 67, 3);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;

}

.socialMedia svg {
    color: black;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
}

hr {
    width: 100%;
    color: #5c575755;
}

.footer p {
    color: white;
}