.App {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  padding: 0;
  margin: 0;
  font-family: cursive;
}

h1,
h2 {
  font-family: papyrus;
}